.blog_container {
  /* display: flex;
  justify-content: center;
  align-items: flex-start; */
  position: absolute;
  left: 76px;
}

.blogs {
  padding-top: 64px;
}

.ul {
  display: flex;
  flex-wrap: wrap;
  /* gap: 32px; */
}

.list {
  list-style-type: none;
  width: 408px;
}

.image {
  width: 400px;
}

.blog_categories button {
  font-size: 12px;
  font-weight: 500;
}

.blog_categories button:hover {
  cursor: auto;
}
