.blog_container {
}

.blogs {
  padding-top: 64px;
}

.ul {
  display: flex;
  flex-wrap: wrap;
  width: 1288px;
  gap: 32px;
  margin: 0 auto;
}

/* .list {
  list-style-type: none;
  width: 408px;
} */
