.blog {
  padding-top: 64px;
}

.ul {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.li {
  list-style-type: none;
  width: 408px;
}

.image {
  width: 400px;
}

.blog_categories button {
  font-size: 12px;
  font-weight: 500;
}

.blog_categories button:hover {
  cursor: auto;
}
