.categories {
  display: flex;
  /* justify-content: center; */
  align-self: center;
  overflow-x: auto;
  overflow-y: auto;
  gap: 24px;
}

.centered {
  width: 684px;
  margin: 0 auto;
  padding: 2px;
}

.categories::-webkit-scrollbar {
  display: none;
}

.categories {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.button {
  border-radius: 30px;
  padding: 8px 16px;
  font-size: 12px;
  cursor: pointer;
  font-weight: 600;
  white-space: nowrap;
}
