.blog {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.blog-name {
  color: #1a1a1f;
  font-size: 64px;
  font-weight: 700;
  padding-top: 78px;
  margin-left: 89px;
}

.img {
  height: 200px;
  width: 624px;
  margin-right: 26px;
  padding-top: 14px;
}
