.image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #ffffff;
}

.container {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.add_blog {
  color: #1a1a1f;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  padding-top: 40px;
}

.upload_photo {
  padding-bottom: 8px;
}

.upload_photo {
  padding-top: 40px;
  color: #1a1a1f;
  font-size: 14px;
  line-height: 20px;
}

.author {
  padding-bottom: 8px;
}

.input_container {
  display: flex;
  font-size: 14px;
  line-height: 20px;
  gap: 24px;
  padding-top: 24px;
}

.fileDropped {
  padding-top: 24px;
}

.title {
  padding-bottom: 8px;
}

.input {
  width: 288px;
  height: 44px;
  border-radius: 12px;
  border: 1px solid #e4e3eb;
  background: #fcfcfd;
  padding: 16px;
  outline: none;
}

.li {
  padding-top: 8px;
  color: #85858d;
  font-size: 12px;
}

.validation_desc {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #85858d;
  font-size: 12px;
}

.description {
  padding-top: 24px;
  color: #1a1a1f;
  font-size: 14px;
  line-height: 20px;
}

.select_date_container {
  display: flex;
  font-size: 14px;
  line-height: 20px;
  gap: 24px;
  margin-bottom: 8px;
}

.textarea {
  margin-top: 8px;
  resize: none;
  width: 600px;
  height: 124px;
  border-radius: 12px;
  border: 1px solid #e4e3eb;
  background: #fcfcfd;
  padding-top: 12px;
  padding-left: 16px;
  outline: none;
}

.green {
  color: #14d81c;
}

.red {
  color: #ea1919;
}

.red_outline {
  border: 1px solid #ea1919;
  background: #faf2f3;
}

.green_outline {
  border: 1px solid #14d81c;
  background: #f8fff8;
}

.publish_date {
  color: #1a1a1f;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 8px;
}

.select {
  margin-top: 8px;
  width: 288px;
  height: 44px;
  border-radius: 12px;
  border: 1px solid #e4e3eb;
  background: #fcfcfd;
}

.mail {
  margin-bottom: 8px;
  font-size: 14px;
  color: #1a1a1f;
}

.validation_container {
  display: flex;
  gap: 8px;
  padding-top: 8px;
}

.hidden_validation {
  visibility: hidden;
}

.mail_image {
}

.mail_validation {
  font-size: 12px;
  padding-top: 3px;
}

.span {
  font-size: 12px;
  padding-left: 28px;
}

.btn_container {
  padding-left: 312px;
  padding-top: 40px;
}

.button {
  width: 288px;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid transparent;
  color: #fff;
  font-size: 14px;
  border-radius: 8px;
  background: #5d37f3;
}
