.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(26, 26, 31, 0.24);
  z-index: 1000;
}

.modal_container {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  background-color: #fff;
  width: 480px;
  height: 272px;
  padding: 20px;
  border-radius: 10px;
}

.modal_header {
  display: flex;
  justify-content: flex-end;
}

.close_btn {
  border: none;
  background: transparent;
  cursor: pointer;
}

.success_image {
  position: absolute;
  top: 59px;
  left: 215px;
}

.modal_content {
  padding-top: 71px;
}

.success_title {
  display: flex;
  justify-content: center;
  color: #1a1a1f;
  font-size: 20px;
  line-height: 28px;
  padding-top: 15px;
}

.btn_cont {
  padding-top: 30px;
}

.btn_ok {
  background-color: #5d37f3;
  color: #fff;
  cursor: pointer;
  border-radius: 8px;
  height: 40px;
  border: 1px solid transparent;
  font-size: 14px;
  margin-left: 4px;
  width: 432px;
}
