.background {
  background-color: #ffffff;
  height: 80px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 10px 20px;
  font-family: inherit;
  background-color: #5d37f3;
  cursor: pointer;
  color: #fff;
  margin-right: 52px;
  height: 40px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

.img {
  margin-left: 52px;
  width: 150px;
}
