.modal_container {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  background-color: #fff;
  width: 480px;
  height: 272px;
  padding: 15px;
  border-radius: 10px;
}

.modal_header {
  display: flex;
  justify-content: flex-end;
}

.close {
  cursor: pointer;
}

.modal_content {
  display: grid;
  gap: 20px;
}

.enter_title {
  display: flex;
  justify-content: center;
}

.email {
  font-weight: bold;
  padding-left: 9px;
}

.input {
  border: 1px solid #5d37f3;
  border-radius: 10px;
  padding: 3px;
  width: 432px;
  height: 44px;
  margin-left: 9px;
}

.btn_enter {
  background-color: #5d37f3;
  color: #fff;
  cursor: pointer;
  border-radius: 8px;
  height: 40px;
  border: 1px solid transparent;
  font-size: 14px;
  margin-left: 9px;
  width: 432px;
}

.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(26, 26, 31, 0.24);
  z-index: 1000;
}

.hidden {
  display: none;
}

.close_btn {
  border: none;
  background: transparent;
  cursor: pointer;
}
